* {
    padding: 0;
    margin: 0;
}

.todo {
    background-color: rgb(136, 136, 172);
    padding: 15px;
}

.agrupar {
    display: flex;
    display: grid;
    align-items: center;
    justify-content: center;
}

.encabezado {
    text-align: center;
    justify-content: center;
    background-color: rgb(218, 115, 115);
}

.areatexto {
    margin-top: 10px;
    height: 120px;
    font-size: 30px;
    width: 1100px;
    background-color: rgb(168, 213, 223);
}

.recuadro {
    text-align: center;
}

.btn {
    margin-top: 10px;
    font-size: 32px;
    padding: 15px;
    background-color: rgb(97, 77, 56);
}

.cajaBoton {
    text-align: center;
}

.resultado {
    display: flex;
    justify-content: center;
}

.resultadoRepeticiones {
    display: flex;
    display: grid;
    position: relative;
    float: left;
}

.resultado2 {
    display: flex;
    display: grid;
    position: relative;
    float: left;
}

.tabla0 {
    padding: 25px;
    display: grid;
}

.classTd {
    height: 35px;
    font-size: 28px;
    color: rgb(12, 3, 21);
    padding: 5px;
    text-align: center;
}

.classTdC {
    height: 35px;
    font-size: 28px;
    color: rgb(12, 3, 21);
    padding: 5px;
    text-align: center;
}